.input {
    width: 220px;
    padding: 5px;
    margin: 12px 0;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #ffffff;
    color: white;
}

::-webkit-input-placeholder {
    color: #adadad;
    font-size: 10px;
}