* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: transparent;
    margin: 0 auto;
}

/*.active {*/
/*    color: var(--color-active);*/
/*    cursor: default;*/
/*}*/
